# Appendix 3: Python Libraries Crash Course

## Part 3: Pandas for Tabular Data

### Creating your very first Pandas DataFrame (from csv)

In [1]:
import pandas as pd

In [2]:
pd.read_csv("titanic.csv")

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [3]:
titanic = pd.read_csv("titanic.csv")

In [4]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

### Pandas Display Options and the methods head() & tail()

In [ ]:
titanic

In [ ]:
print(titanic)

In [ ]:
pd.options.display.max_rows

In [ ]:
pd.options.display.min_rows

In [ ]:
titanic

In [ ]:
titanic.head()

In [ ]:
titanic.head(20)

In [ ]:
titanic.tail()

In [ ]:
titanic.tail(2)

### First Data Inspection

In [ ]:
titanic

In [ ]:
titanic.info()

In [ ]:
titanic.describe()

In [ ]:
titanic.describe(include = "O")

### Selecting Columns

In [ ]:
titanic

In [ ]:
titanic["age"]

In [ ]:
type(titanic["age"])

In [ ]:
#titanic["age", "sex"]

In [ ]:
titanic[["age", "sex"]]

In [ ]:
type(titanic[["age", "sex"]])

In [ ]:
titanic[["sex", "age"]]

In [ ]:
titanic[["sex", "age", "fare"]]

In [ ]:
type(titanic[["age"]])

### Selecting one Column with "dot notation"

In [ ]:
titanic.age

In [ ]:
titanic.age.equals(titanic["age"])

In [ ]:
titanic.embarked

### Position-based Indexing and Slicing with iloc[]

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [ ]:
summer

In [ ]:
summer.info()

#### Selecting Rows with iloc[]

In [ ]:
summer.iloc[0]

In [ ]:
type(summer.iloc[0])

In [ ]:
summer.iloc[1]

In [ ]:
summer.iloc[-1]

In [ ]:
summer.iloc[[1, 2, 3]]

In [ ]:
summer.iloc[1:4]

In [ ]:
summer.iloc[:5]

In [ ]:
summer.iloc[-5:]

In [ ]:
summer.iloc[:]

In [ ]:
summer.iloc[[2, 45, 5467]]

#### Indexing/Slicing Rows and Columns with iloc[]

In [ ]:
summer.head(10)

In [ ]:
summer.iloc[0, 4]

In [ ]:
summer.iloc[0, :3]

In [ ]:
summer.iloc[0, [0, 2, 5, 7]]

In [ ]:
summer.iloc[34:39, [0, 2, 5, 7]]

#### Selecting Columns with iloc[]

In [ ]:
summer.iloc[:, 4].equals(summer.Country)

In [ ]:
summer["Country"]

### Label-based Indexing and Slicing with loc[]

In [ ]:
summer

#### Selecting Rows with loc[]

In [ ]:
summer.iloc[2]

In [ ]:
summer.loc["DRIVAS, Dimitrios"]

In [ ]:
summer.loc["PHELPS, Michael"]

#### Indexing/Slicing Rows and Columns with loc[]

In [ ]:
summer.loc["PHELPS, Michael", "Medal"]

In [ ]:
summer.loc["PHELPS, Michael", ["Medal", "Event"]]

In [ ]:
summer.loc[["PHELPS, Michael", "LEWIS, Carl"], ["Medal", "Event"]]

In [ ]:
summer.loc[:, ["Medal", "Event"]]

In [ ]:
summer.head(10)

In [ ]:
summer.loc[:"CHASAPIS, Spiridon"]

In [ ]:
#summer.loc[:"PHELPS, Michael"]

In [ ]:
#summer.loc["PHELPS, Michael":]

In [ ]:
summer.head(20)

In [ ]:
summer.loc["DRIVAS, Dimitrios":"BLAKE, Arthur", "City":"Discipline"]

In [ ]:
#summer.loc[["PHELPS, Michael", "DUCK, Donald"]]

In [ ]:
#summer.loc["PHELPS, Michael", ["Year", "Age"]]

### Summary and Outlook

#### Importing from CSV and first Inspection

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [ ]:
summer

In [ ]:
summer.info()

#### Selecting one Column

In [ ]:
summer.Medal

In [ ]:
summer["Medal"]

#### Selecting multiple Columns

In [ ]:
summer[["Year", "Medal"]]

In [ ]:
summer.loc[:, ["Year", "Medal"]]

#### Selecting positional rows

In [ ]:
summer.iloc[10:21]

#### Selecting labeled rows

In [ ]:
summer.loc["LEWIS, Carl"]

#### Putting it all together

In [ ]:
summer[["Year", "Event", "Medal"]].loc["LEWIS, Carl"]

In [ ]:
summer.loc["LEWIS, Carl"][["Year", "Event", "Medal"]]

In [ ]:
summer.loc["LEWIS, Carl", ["Year", "Event", "Medal"]]

#### Outlook Pandas Objects

In [ ]:
summer

In [ ]:
type(summer)

In [ ]:
summer["Year"]

In [ ]:
type(summer["Year"])

In [ ]:
summer.columns

In [ ]:
type(summer.columns)

In [ ]:
summer.index

In [ ]:
type(summer.index)