# Advanced Panada Time Series

In [1]:
## DatatimeIndex

In [2]:
import pandas as pd

In [3]:
stocks = pd.read_csv("../course/appendix/Appendix4_Materials/stocks.csv", header = [0, 1], index_col = [0], parse_dates = [0])

In [4]:
stocks.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2009-12-31  6.503574  41.856789  28.090706  92.406113  18.951757  23.801456
2010-01-04  6.604801  43.441975  27.933924  93.500313  18.965061  24.168472
2010-01-05  6.616219  44.864773  27.864237  92.370834  18.735643  24.176279
2010-01-06  6.510980  46.225727  27.716166  91.770790  18.728989  24.027906
2010-01-07  6.498945  48.097031  27.724878  91.453102  18.682440  23.778025

               Close                                ...   Open              \
                AAPL         BA    DIS         IBM  ...    DIS         IBM
Date                                                ...
2009-12-31  7.526072  54.130001  32.25  130.899994  ...  32.27  132.410004
2010-01-04  7.643214  56.180000  32.07  132.449997  ...  32.50  131.179993
2010-01-05  7.656428  58.020000  31.99  130.850006  ...  32.07  131.679993
2010-01-06  7.534643  59.779999  31.82  130.000000  ...  31.90  130.679993
2010-01-07  7.520714  62.200001  31.83  129.550003  ...  31.77  129.869995

                                     Volume                               \
                   KO       MSFT       AAPL        BA       DIS      IBM
Date
2009-12-31  28.790001  30.980000  352410800   2189400  19651700  4223400
2010-01-04  28.580000  30.620001  493729600   6186700  13700400  6155300
2010-01-05  28.424999  30.850000  601904800   8867800  10307700  6841400
2010-01-06  28.174999  30.879999  552160000   8836500  10709500  5605300
2010-01-07  28.165001  30.629999  477131200  14379100   8202100  5840600


                  KO      MSFT
Date
2009-12-31  10848800  31929700
2010-01-04  13870400  38409100
2010-01-05  23172400  49749600
2010-01-06  19264600  58182400
2010-01-07  13234600  50559700

[5 rows x 36 columns]

In [5]:
close = stocks.loc[:, "Close"].copy()

In [6]:
close.head()

                AAPL         BA    DIS         IBM         KO       MSFT
Date
2009-12-31  7.526072  54.130001  32.25  130.899994  28.500000  30.480000
2010-01-04  7.643214  56.180000  32.07  132.449997  28.520000  30.950001
2010-01-05  7.656428  58.020000  31.99  130.850006  28.174999  30.959999
2010-01-06  7.534643  59.779999  31.82  130.000000  28.165001  30.770000
2010-01-07  7.520714  62.200001  31.83  129.550003  28.094999  30.450001

In [7]:
close.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2019-01-23', '2019-01-24', '2019-01-25', '2019-01-28',
               '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01',
               '2019-02-04', '2019-02-05'],
              dtype='datetime64[ns]', name='Date', length=2289, freq=None)

In [8]:
close.index.day

Int64Index([31,  4,  5,  6,  7,  8, 11, 12, 13, 14,
            ...
            23, 24, 25, 28, 29, 30, 31,  1,  4,  5],
           dtype='int64', name='Date', length=2289)

In [9]:
close.index.month

Int64Index([12,  1,  1,  1,  1,  1,  1,  1,  1,  1,
            ...
             1,  1,  1,  1,  1,  1,  1,  2,  2,  2],
           dtype='int64', name='Date', length=2289)

In [10]:
close.index.year

Int64Index([2009, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010,
            ...
            2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019],
           dtype='int64', name='Date', length=2289)

In [11]:
close.index.day_name()

Index(['Thursday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Friday', 'Monday', 'Tuesday'],
      dtype='object', name='Date', length=2289)

In [12]:
close.index.month_name()

Index(['December', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January',
       ...
       'January', 'January', 'January', 'January', 'January', 'January',
       'January', 'February', 'February', 'February'],
      dtype='object', name='Date', length=2289)

In [13]:
close.assign(Day = stocks.index.day_name()).assign(Quarter = stocks.index.quarter)

,AAPL,BA,DIS,IBM,KO,MSFT,Day,Quarter
Date,,,,,,,,
2009-12-31,7.526072,54.130001,32.250000,130.899994,28.500000,30.480000,Thursday,4
2010-01-04,7.643214,56.180000,32.070000,132.449997,28.520000,30.950001,Monday,1
2010-01-05,7.656428,58.020000,31.990000,130.850006,28.174999,30.959999,Tuesday,1
2010-01-06,7.534643,59.779999,31.820000,130.000000,28.165001,30.770000,Wednesday,1
2010-01-07,7.520714,62.200001,31.830000,129.550003,28.094999,30.450001,Thursday,1
...,...,...,...,...,...,...,...,...
2019-01-30,41.312500,387.720001,110.129997,134.380005,47.860001,106.379997,Wednesday,1
2019-01-31,41.610001,385.619995,111.519997,134.419998,48.130001,104.430000,Thursday,1
2019-02-01,41.630001,387.429993,111.300003,134.100006,48.700001,102.779999,Friday,1
2019-02-04,42.812500,397.000000,111.800003,135.190002,49.250000,105.739998,Monday,1
2019-02-05,43.544998,410.179993,112.660004,135.550003,49.259998,107.220001,Tuesday,1

## Filling NA values with bfill, ffill and interpolation

where
- `bfill` = `backfill`,
- `ffill` = `forward fill`

Our stocks show weekday prices e.g. no trading as weekends and bank holidays.
But we can `fill in` data.

In [14]:
close = close.assign(Day = stocks.index.day_name()).assign(Quarter = stocks.index.quarter)
close.tail()

,AAPL,BA,DIS,IBM,KO,MSFT,Day,Quarter
Date,,,,,,,,
2019-01-30,41.312500,387.720001,110.129997,134.380005,47.860001,106.379997,Wednesday,1
2019-01-31,41.610001,385.619995,111.519997,134.419998,48.130001,104.430000,Thursday,1
2019-02-01,41.630001,387.429993,111.300003,134.100006,48.700001,102.779999,Friday,1
2019-02-04,42.812500,397.000000,111.800003,135.190002,49.250000,105.739998,Monday,1
2019-02-05,43.544998,410.179993,112.660004,135.550003,49.259998,107.220001,Tuesday,1

In [15]:
allDays = pd.date_range(start = "2009-12-31", end = "2019-02-06", freq = "D")
allDays

DatetimeIndex(['2009-12-31', '2010-01-01', '2010-01-02', '2010-01-03',
               '2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-09',
               ...
               '2019-01-28', '2019-01-29', '2019-01-30', '2019-01-31',
               '2019-02-01', '2019-02-02', '2019-02-03', '2019-02-04',
               '2019-02-05', '2019-02-06'],
              dtype='datetime64[ns]', length=3325, freq='D')

We'll include all missing days i.e. weekends and bank holidays, but initially these won't have any data.

In [16]:
close = close.reindex(allDays)
close.head(20)

,AAPL,BA,DIS,IBM,KO,MSFT,Day,Quarter
2009-12-31,7.526072,54.130001,32.250000,130.899994,28.500000,30.480000,Thursday,4.0
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-04,7.643214,56.180000,32.070000,132.449997,28.520000,30.950001,Monday,1.0
2010-01-05,7.656428,58.020000,31.990000,130.850006,28.174999,30.959999,Tuesday,1.0
2010-01-06,7.534643,59.779999,31.820000,130.000000,28.165001,30.770000,Wednesday,1.0
2010-01-07,7.520714,62.200001,31.830000,129.550003,28.094999,30.450001,Thursday,1.0
2010-01-08,7.570714,61.599998,31.879999,130.850006,27.575001,30.660000,Friday,1.0
2010-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-11,7.503929,60.869999,31.360001,129.479996,28.135000,30.270000,Monday,1.0
2010-01-12,7.418571,60.430000,30.820000,130.509995,28.440001,30.070000,Tuesday,1.0
2010-01-13,7.523214,61.160000,31.290001,130.229996,28.514999,30.350000,Wednesday,1.0
2010-01-14,7.479643,61.560001,31.020000,132.309998,28.565001,30.959999,Thursday,1.0
2010-01-15,7.354643,60.820000,30.600000,131.779999,28.145000,30.860001,Friday,1.0
2010-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-19,7.680000,60.650002,31.010000,134.139999,28.209999,31.100000,Tuesday,1.0

In [17]:
close.assign(Day = close.index.dayofweek).assign(Quarter = close.index.quarter).fillna(method = "bfill")

,AAPL,BA,DIS,IBM,KO,MSFT,Day,Quarter
2009-12-31,7.526072,54.130001,32.250000,130.899994,28.500000,30.480000,3,4
2010-01-01,7.643214,56.180000,32.070000,132.449997,28.520000,30.950001,4,1
2010-01-02,7.643214,56.180000,32.070000,132.449997,28.520000,30.950001,5,1
2010-01-03,7.643214,56.180000,32.070000,132.449997,28.520000,30.950001,6,1
2010-01-04,7.643214,56.180000,32.070000,132.449997,28.520000,30.950001,0,1
...,...,...,...,...,...,...,...,...
2019-02-02,42.812500,397.000000,111.800003,135.190002,49.250000,105.739998,5,1
2019-02-03,42.812500,397.000000,111.800003,135.190002,49.250000,105.739998,6,1
2019-02-04,42.812500,397.000000,111.800003,135.190002,49.250000,105.739998,0,1
2019-02-05,43.544998,410.179993,112.660004,135.550003,49.259998,107.220001,1,1
2019-02-06,NaN,NaN,NaN,NaN,NaN,NaN,2,1

In [18]:
close.assign(Day = close.index.dayofweek).assign(Quarter = close.index.quarter).fillna(method = "ffill")

,AAPL,BA,DIS,IBM,KO,MSFT,Day,Quarter
2009-12-31,7.526072,54.130001,32.250000,130.899994,28.500000,30.480000,3,4
2010-01-01,7.526072,54.130001,32.250000,130.899994,28.500000,30.480000,4,1
2010-01-02,7.526072,54.130001,32.250000,130.899994,28.500000,30.480000,5,1
2010-01-03,7.526072,54.130001,32.250000,130.899994,28.500000,30.480000,6,1
2010-01-04,7.643214,56.180000,32.070000,132.449997,28.520000,30.950001,0,1
...,...,...,...,...,...,...,...,...
2019-02-02,41.630001,387.429993,111.300003,134.100006,48.700001,102.779999,5,1
2019-02-03,41.630001,387.429993,111.300003,134.100006,48.700001,102.779999,6,1
2019-02-04,42.812500,397.000000,111.800003,135.190002,49.250000,105.739998,0,1
2019-02-05,43.544998,410.179993,112.660004,135.550003,49.259998,107.220001,1,1
2019-02-06,43.544998,410.179993,112.660004,135.550003,49.259998,107.220001,2,1

In [19]:
temperature = pd.read_csv("../course/appendix/Appendix4_Materials/temp.csv", index_col = "datetime", parse_dates = ["datetime"])
temperature.head(10)

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3
2013-01-01 05:00:00   8.7 -2.5
2013-01-01 06:00:00   6.9 -3.2
2013-01-01 07:00:00   7.8 -3.4
2013-01-01 08:00:00   6.7 -3.0
2013-01-01 09:00:00   6.6 -1.8

In [20]:
temperature = temperature.resample("30 Min").mean() # Creating more samples but have no data for these - After we can interpolate
temperature.head(10)

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 00:30:00   NaN  NaN
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 01:30:00   NaN  NaN
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 02:30:00   NaN  NaN
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 03:30:00   NaN  NaN
2013-01-01 04:00:00   8.8 -2.3
2013-01-01 04:30:00   NaN  NaN

In [21]:
temperature.interpolate()

                        LA    NY
datetime
2013-01-01 00:00:00  11.70 -1.10
2013-01-01 00:30:00  11.20 -1.40
2013-01-01 01:00:00  10.70 -1.70
2013-01-01 01:30:00  10.30 -1.85
2013-01-01 02:00:00   9.90 -2.00
...                    ...   ...
2016-12-31 21:00:00  12.80  5.80
2016-12-31 21:30:00  12.55  5.75
2016-12-31 22:00:00  12.30  5.70
2016-12-31 22:30:00  12.10  5.60
2016-12-31 23:00:00  11.90  5.50

[70127 rows x 2 columns]

## Timezones

In [22]:
import pandas as pd

In [23]:
ge = pd.read_csv("../course/appendix/Appendix4_Materials/GE_prices.csv", parse_dates = ["date"], index_col = "date")

In [24]:
ge.head()

                     1. open  2. high   3. low  4. close  5. volume
date
2019-07-29 10:00:00  10.5000  10.5800  10.4300   10.4400  4840329.0
2019-07-29 10:30:00  10.4404  10.4847  10.3997   10.4104  3860280.0
2019-07-29 11:00:00  10.4200  10.5000  10.4100   10.5000  1912153.0
2019-07-29 11:30:00  10.4931  10.5300  10.4800   10.4850  1916453.0
2019-07-29 12:00:00  10.4900  10.5000  10.4400   10.4500  2467638.0

The above times are New York where GE is traded. These times are 4 hours behind `UTC`.

In [25]:
ge.tz_localize("America/New_York")

                           1. open  2. high   3. low  4. close  5. volume
date
2019-07-29 10:00:00-04:00  10.5000  10.5800  10.4300   10.4400  4840329.0
2019-07-29 10:30:00-04:00  10.4404  10.4847  10.3997   10.4104  3860280.0
2019-07-29 11:00:00-04:00  10.4200  10.5000  10.4100   10.5000  1912153.0
2019-07-29 11:30:00-04:00  10.4931  10.5300  10.4800   10.4850  1916453.0
2019-07-29 12:00:00-04:00  10.4900  10.5000  10.4400   10.4500  2467638.0
...                            ...      ...      ...       ...        ...
2019-09-09 14:00:00-04:00   8.9900   8.9950   8.9700    8.9800  1740722.0
2019-09-09 14:30:00-04:00   8.9735   9.0000   8.9700    8.9835  1412823.0
2019-09-09 15:00:00-04:00   8.9900   9.0100   8.9350    8.9500  4177838.0
2019-09-09 15:30:00-04:00   8.9453   8.9700   8.9300    8.9603  2254279.0
2019-09-09 16:00:00-04:00   8.9600   8.9900   8.9200    8.9700  6887530.0

[389 rows x 5 columns]