# Functional instead of OOP

Following the course utilised in this repository, we take the [OOP](oop.ipynb) and convert to FP.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from FinancialFunctionalInstrument import *

In [5]:
appl = stock("AAPL", "2015-01-01", "2019-12-31")
appl

                price
Date
2015-01-02  27.332500
2015-01-05  26.562500
2015-01-06  26.565001
2015-01-07  26.937500
2015-01-08  27.972500
...               ...
2019-12-23  71.000000
2019-12-24  71.067497
2019-12-26  72.477501
2019-12-27  72.449997
2019-12-30  72.879997

[1257 rows x 1 columns]

In [6]:
logReturns(appl)

                price  logReturns
Date
2015-01-02  27.332500         NaN
2015-01-05  26.562500   -0.028576
2015-01-06  26.565001    0.000094
2015-01-07  26.937500    0.013925
2015-01-08  27.972500    0.037703
...               ...         ...
2019-12-23  71.000000    0.016187
2019-12-24  71.067497    0.000950
2019-12-26  72.477501    0.019646
2019-12-27  72.449997   -0.000380
2019-12-30  72.879997    0.005918

[1257 rows x 2 columns]